<!DOCTYPE html> 
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Insert title here</title>
<link type="text/css" href="../css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div class="input-group">
			<span class="input-group-addon">@</span>
			<input type="text" class="form-control" placeholder="username">
		</div>
			<button type="button" class="btn btn-danger">Danger</button>
	</div>
	<script type="text/javascript" src="../js/jquery-1.11.2.min.js" ></script>
	<script type="text/javascript" src="../js/bootstrap.min.js" ></script>
</body>
</html>